.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}
.video-container h2{
   font-size: 46px;
   -webkit-text-stroke: 1px #0803FA;
   -webkit-text-fill-color: transparent; 
   margin-bottom: 70px;
}
.mas-span{
    -webkit-text-fill-color: #0803FA;
}
.video-box{
display: flex;
margin-bottom: 130px;
}
.text-box-right{
width: 400px;
margin-left: 40px;
padding-right: 150px;
}
.text-box-left{
width: 400px;
margin-right: 40px;
text-align: end;
padding-left: 150px;
}
.text-box-right  h3{
    font-size: 25px;
}
.text-box-right h4{
    font-size: 21px;
    font-weight: 500;
    -webkit-text-fill-color: #0803FA;
}
.text-box-right p{
    font-size: 21px;
}
.text-box-left  h3{
    font-size: 25px;
}
.text-box-left h4{
    font-size: 21px;
    font-weight: 500;
    -webkit-text-fill-color: #0803FA;
}
.text-box-left p{
    font-size: 21px;
}
.rocket{
    width: 80px;
    height: 80px;
}
.rocket-box{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1200px) {
    .video-box iframe {
        width: 260px;
        height: 150px;

      }
      .video-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        background-color: #51515133;
        margin-bottom: 100px;
        border-radius: 20px;
        width: 500px;
        padding: 20px;
      }
      
      .text-box-right,
      .text-box-left {
        margin-top: 20px;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 450px;
      }
      .video-box iframe {
        width: 300px;
        height: 170px;
        border: white solid;
      }
    .text-box-right  h3{
        font-size: 21px;
    }
    .text-box-right h4{
        font-size: 18px;
    }
    .text-box-right p{
        font-size: 18px;
    }
    .text-box-left  h3{
        font-size: 21px;
    }
    .text-box-left h4{
        font-size: 18px;
    }
    .text-box-left p{
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    .video-box iframe {
        width: 260px;
        height: 150px;

      }
      .video-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        background-color: #51515133;
        margin-bottom: 100px;
        border-radius: 20px;
        width: 500px;
        padding: 20px;
      }
      
      .text-box-right,
      .text-box-left {
        margin-top: 20px;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 450px;
      }
      .video-box iframe {
        width: 300px;
        height: 170px;
        border: white solid;
      }
    .text-box-right  h3{
        font-size: 21px;
    }
    .text-box-right h4{
        font-size: 18px;
    }
    .text-box-right p{
        font-size: 18px;
    }
    .text-box-left  h3{
        font-size: 21px;
    }
    .text-box-left h4{
        font-size: 18px;
    }
    .text-box-left p{
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .video-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        background-color: #51515133;
        margin-bottom: 100px;
        border-radius: 20px;
        width: 300px;
        padding: 20px;
      }
      
      .text-box-right,
      .text-box-left {
        margin-top: 20px;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      .video-box iframe {
        width: 300px;
        height: 180px;
        border: white solid;
      }
    .text-box-right  h3{
        font-size: 18px;
    }
    .text-box-right h4{
        font-size: 15px;
    }
    .text-box-right p{
        font-size: 15px;
    }
    .text-box-left  h3{
        font-size: 18px;
    }
    .text-box-left h4{
        font-size: 15px;
    }
    .text-box-left p{
        font-size: 15px;
    }
}
